:root {
  //colors
  --periwinkle500: #86a8ff;
  --periwinkle400: #b8ccff;
  --periwinkle300: #d6e2ff;
  --periwinkle200: #e5edff;
  --periwinkle600: #5e79ed;
  --periwinkle700: #3f5de4;
  --periwinkle800: #334fcc;

  --rose500: #ff8686;
  --rose400: #ffb8b8;
  --rose300: #ffd6d6;
  --rose200: #ffebeb;
  --rose600: #ff7070;
  --rose700: #ff5c5c;
  --rose800: #f42a2a;

  --perigray400: #dbe0eb;
  --perigray300: #eff1f6;
  --perigray200: #f9f9fb;
  --perigray600: #a8b3cd;
  --perigray700: #8797ba;
  --perigray800: #677aa8;

  --blackish500: #3b3b3b;
  --blackish400: #5a5a5a;
  --blackish300: #848484;
  --whiteish500: #fafafa;

  //fonts
  --font-body: "Inter", system-ui, sans-serif;
  --font-nimbus-heading: "Gloock", serif;
}
