.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  .intro-info {
    padding: 0 70px;
    display: flex;

    .box1 {
      display: flex;
      flex-direction: column;

      h2 {
        color: var(--blackish500);
        font-size: 4rem;
        font-weight: 800;
        line-height: 4rem;
      }

      p {
        color: var(--blackish300);
        font-weight: 500;
      }
    }
  }
}
