@use "./mixins" as *;

.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  .intro-info {
    border: 2px solid orange;
    padding: 100px 7rem;
    // Minst: 1rem (mobil), Helst: 8vw, Max: 9.5rem (desktop)
    // padding: 100px clamp(1rem, 8vw, 9.5rem);
    display: flex;
    width: 100%;
    justify-content: space-between;
    // gap: 200px;
    // 3. GAP: Krymp gapet när skärmen krymper. Från 20px till 200px.
    gap: clamp(5px, 8vw, 200px);
    // flex-wrap: wrap;

    @include tablet {
      padding: 100px 4rem;
    }

    @include mobile {
      padding: 20px;
      flex-direction: column-reverse;
      gap: 40px;
    }

    .box1 {
      border: 2px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      // justify-content: space-between;
      // 4. FLEX-BASIS: Låt textboxen ta plats, men krympa om det behövs.
      // min-width 300px ser till att den inte blir löjligt smal innan den bryter rad.
      flex: 1 1 50%;

      @include mobile {
        flex: 1 1 100%;
        width: 100%;
        gap: 80px;
      }

      .headlines-div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include mobile {
          gap: 50px;
        }

        .h2-div {
          display: flex;
          flex-direction: column;
          h2 {
            color: var(--blackish500);
            // font-size: 6rem;
            font-size: clamp(5rem, 8vw, 7rem);
            font-weight: 800;
            // line-height: clamp(3rem, 7vw, 6rem);
            line-height: 0.9;
          }
        }

        p {
          color: var(--blackish300);
          font-weight: 500;
          // font-size: clamp(1.5rem, 3.2vw, 2rem);
          font-size: 2rem;
        }
      }

      .intro-info-buttons {
        display: flex;
        justify-content: flex-start;
        gap: clamp(1rem, 4vw, 5rem);
        // flex-wrap: wrap;

        @include mobile {
          justify-content: space-between;
        }

        .get-started-btn,
        .read-more-btn {
          font-size: 1.3rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateY(-3px);
            // box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
    .box2 {
      border: 2px solid red;
      display: flex;
      // justify-content: center;
      align-items: center;

      flex: 1 1 45%;
      // max-width: 28rem;

      @include mobile {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
      }

      .home-avatar {
        width: 100%;
        // max-width: 28rem;
        min-width: 400px;
        // aspect-ratio: 1 / 1;
        // height: auto; // Behåll proportioner
        border-radius: 30px;
        object-fit: cover;
        display: block;
      }
    }
  }
}
