@use "./mixins" as *;

.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  .intro-info {
    padding: 100px 7rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: clamp(5px, 8vw, 200px);

    @include tablet {
      padding: 100px 4rem;
    }

    @include mobile {
      padding: 20px;
      flex-direction: column-reverse;
      gap: 40px;
    }

    .box1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      flex: 1 1 50%;

      @include mobile {
        flex: 1 1 100%;
        width: 100%;
        gap: 80px;
      }

      .headlines-div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include mobile {
          gap: 50px;
        }

        .h2-div {
          display: flex;
          flex-direction: column;
          h2 {
            color: var(--blackish500);
            font-size: clamp(5rem, 8vw, 7rem);
            font-weight: 800;
            line-height: 0.9;
          }
        }

        p {
          color: var(--blackish300);
          font-weight: 500;
          font-size: 2rem;
        }
      }

      .intro-info-buttons {
        display: flex;
        justify-content: flex-start;
        gap: clamp(1rem, 4vw, 5rem);

        @include mobile {
          justify-content: space-between;
        }

        .get-started-btn,
        .read-more-btn {
          font-size: 1.3rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateY(-3px);
          }
        }
      }
    }
    .box2 {
      display: flex;
      align-items: center;

      flex: 1 1 45%;

      @include mobile {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
      }

      .home-avatar {
        width: 100%;
        min-width: 400px;
        border-radius: 30px;
        object-fit: cover;
        display: block;
      }
    }
  }
}
