@use "./variables" as *;
@use "./mixins" as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--blackish500);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--perigray300);
  margin: 0;
  width: 100%;
  min-width: 320px;

  .app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    // min-width: fit-content;
  }
}
